<div id="signup_container">

		<div class = "left_body_signup">
			<div id="sign_up_pw">	
					<h2 class="left_title">Forgot your password?</h2>

					<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
					  <%= devise_error_messages! %>

					  <%= f.email_field :email, :placeholder => "E-Mail" %>

					<%= f.submit "Send me reset password instructions", :class => "btn_show" %>
					<% end %>
			</div>		
		</div>	

		<div class ="right_body_signup">
			<span class="devise_signin"><%= render :partial => "devise/shared/links" %></span>
		</div>

</div>