<!DOCTYPE html>
<html>
<head>
  <title>Hashq.it</title>
  <%= stylesheet_link_tag    "application" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "livevalidation" %>
  <%= csrf_meta_tags %>

	<%= stylesheet_link_tag    "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" %>
	<link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css'>


</head>
<body id='page'>

<%= yield %>

</body>
</html>
