<!DOCTYPE html>
<html>
<head>
  <title>Hashq.it</title>
  <%= stylesheet_link_tag    "application" %>

  <%= javascript_include_tag "application" %>
  <%#= javascript_include_tag "livevalidation" %>
  <%= csrf_meta_tags %>

	<%= stylesheet_link_tag    "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" %>
	<link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css'>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27885628-1']);
  _gaq.push(['_setDomainName', '.hashq.it']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<div id="container">

	<div id="logo">
		<%= link_to image_tag("logo_hash_red.png"), root_url %>
	
		<div id="right_corner">
			<div id="user_nav">
			  <% if user_signed_in? %>
			    Signed in as <%= current_user.email %>. Not you?
			    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
			  <% else %>
			    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
			  <% end %>
			</div>

			
			
		
		
		</div>
	
	</div>

	<div id="logo_text">
		The simplest way to poll your Twitter followers.
	</div>

	<div class="clear"></div>

	<body id='page'>

	<%= yield %>

	</body>

<script type="text/javascript">var _kiq = _kiq || [];</script>
<script type="text/javascript" src="//s3.amazonaws.com/ki.js/28181/5yO.js" async="true"></script>

</div>
</html>
